body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fcfbfb;
}

header {
  background-color: #e57a45;
  color: white;
  padding: 20px;
  text-align: center;
}

main {
  padding: 20px;
  margin: 10px;
  background-color: white;
  border: 2px solid #4CAF50;
}

.jumbotron {
  background: url(assets/img/DineHome3.jpg) center center no-repeat; background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 125vh;
}






h1, h2 {
  color: #333;
}

#reading-image {
  max-width: 100%;
  height: auto;
  margin: 20px 0;
}

ul, ol {
  padding-left: 20px;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.logo {
  max-width: 230px;
  max-height: 95px;
  width: auto;
  height: auto;
}

footer {
  text-align: center;
  padding: 10px;
  /* background-color: #fefefe; */
  /* color: white; */
  /* margin-top: 20px; */
  height: 20vh;
}

@media (max-width: 400px) {
  img{
    max-width: 80%;
  }
}
